@media all and (max-width: 1000px) {
  .skil-icon{
    flex: auto;
    width:50%;
  }
}
@media all and (max-width: 650px) {
  .container{
    margin:0 auto;
    text-align: left;
    padding-left: 10px;
  }
  #nav-content{
    display:none;
  }
  .hum-wrapper{
    display:block;
  }
  .container h1{
    font-size: 30px;
  }
  h2{
    font-size: 20px;
  }
  h3{
    font-size: 15px
  }
  .skil-icon{
    flex: auto;
    width:100%;
  }
  .intro-profile{
    width:100%;
  }
}
